.App {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./Image/homeBg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: auto;
  color: white;
}
.App2 {
  background: #fff;
  height: auto;
}
a {
  text-decoration: none;
}
